@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html, body, h1, h2 {
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 6vh;
  padding-top: 1%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: rgba(77, 87, 87, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-transition: .8s;
  transition: .8s;
}

.modal_content {
  background-color: #FFFFFF;
  padding: 1.5em 2em;
  width: 1000px;
  max-width: 90%;
  border-radius: 5px;
  position: relative;
}

.modal_close {
  position: absolute;
  right: 15px;
  top: 5px;
}

main {
  display: block;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  height: 43vh;
  background: #D394DB;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  border: 4mm ridge rgba(170, 50, 220, 0.6);
}

.player p {
  font-size: 3em;
  font-weight: 500;
}

.player h2 {
  font-size: 1.2em;
  font-weight: 500;
}

.player.non-active {
  background: #e0e0e0;
  border: 4mm ridge rgba(255, 255, 255, 0);
}

.player .current {
  background-color: #f04c4c;
  width: 20vw;
  height: 100px;
}

#currentScoreOne, #currentScoreTwo {
  margin: 0;
  color: #FFFFFF;
}

#globalScoreOne, #globalScoreTwo {
  margin: 0;
}

button, a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 3vh;
  text-decoration: none;
  color: red;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 44%;
  width: 100%;
}

video {
  visibility: hidden;
}

@media screen and (min-width: 750px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .player {
    height: 88.5vh;
    width: 50vw;
  }
  .current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f04c4c;
    width: 150px;
    height: 8vw;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 35%;
    width: 30vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #btn-roll {
    margin-bottom: 100px;
    top: 50%;
    left: 115%;
  }
  #btn-hold {
    top: 130%;
    margin-top: 100px;
  }
  button, a {
    font-size: 2.5vw;
  }
  video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    width: 200px;
    height: 175px;
  }
}

@media screen and (min-width: 1000px) {
  #btn-roll {
    margin-bottom: 50px;
  }
  #btn-hold {
    margin-top: 50px;
  }
  video {
    width: 250px;
    height: 205px;
  }
}

@media screen and (min-width: 1300px) {
  #btn-roll {
    margin-bottom: 0px;
  }
  #btn-hold {
    margin-top: 0px;
  }
  video {
    width: 300px;
    height: 230px;
  }
}

@media screen and (min-width: 1600px) {
  video {
    width: 400px;
    height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */