@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

//couleurs
$lightgrey: #f7f7f7;
$darkgrey: #e0e0e0;
$themeColor: #f04c4c;

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html, body {
  margin : 0
}

.header {
  display: flex;
  text-align: center;
  height: 6vh;
  padding-top: 1%;
  justify-content: space-around;
 
}

main {
  display: flex;
}

.player{
  width: 100vw;
  height: 100vh;
  background: $lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  p{
      font-size: 8vw;
      font-weight: 100;
      color: $themeColor;
  }
  h2{
      font-size: 4vw;
      font-weight: 100;
  }
}


.player .current{
  background-color: $themeColor;
  width: 12vw;
  height: 9vw;
  padding: 10px;
}


.actions{
  font-size: 1.2vw;
  justify-content:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 30vw;
  height: 92vh;
  top: 0px;
  left: 35%;

  .action{
      width: 50%;
      margin: auto;
      button{
          letter-spacing: 0.2vw;
          i{
              font-size: 1.5vw;
              color: $themeColor;
          }
      }
      .play-button{
          display: flex;
          flex-direction: column;
      }
  }
  .dice{
      width: 12vw;
      height: 12vw;
      margin: auto;
      background-image: url("../images/dice.svg");
      background-position: center;
      background-size:contain;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
          width: 95%;
          height: 95%;
          margin: auto;
      }
  }     
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 2em;
} 