@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

//couleurs
$active: #D394DB;
$lightgrey: #e0e0e0;
$current: #f04c4c;
$white:#FFFFFF;
$red:red;

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html, body, h1, h2 {
  margin : 0;
  padding: 0;
}

.header {
  display: flex;
  text-align: center;
  height: 6vh;
  padding-top: 1%;
  justify-content: space-around;
}

.modal:target { //au clic, elle se révéle
  visibility: visible;
  opacity: 1;
}
.modal { //on travaille l'ombre de la modale ici
  visibility: hidden;
  opacity: 0; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  height: 50%;
  background: rgba(77, 87, 87, 0.7);
  display: flex;
  justify-content: center;
  align-items: top;
  transition: .8s;
    &_content { 
      background-color: $white;
      padding: 1.5em 2em;
      width: 1000px;
      max-width: 90%;
      border-radius: 5px;
      position: relative;
    }
    &_close {
      position: absolute; 
      right: 15px; 
      top: 5px;
    }
}

main {
  display:block;
}

.player{
  display:flex; 
  width: 95vw;
  height: 43vh;
  background: $active;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 4mm ridge rgba(170, 50, 220, .6);
  p{
    font-size: 3em;
    font-weight: 500;
  }
  h2{
    font-size: 1.2em;
    font-weight: 500;
  }
  &.non-active {
    background: $lightgrey;
    border: 4mm ridge rgba(256, 256, 256, .0);
  }
  .current {
    background-color: $current;
    width: 20vw;
    height: 100px;
  }
}

#currentScoreOne, #currentScoreTwo {
  margin: 0;
  color: $white; 
}
#globalScoreOne, #globalScoreTwo {
  margin: 0;
}

button, a {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 3vh; //joue sur la taille des icônes également
  text-decoration: none;
  color: $red;
} 

aside {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 44%;
  width: 100%;
}

video {
  visibility: hidden;
}

@media screen and (min-width: 750px) {
  main{
  display: flex;
  }
  .player{
    height: 88.5vh;
    width: 50vw;
  }
  .current {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $current;
    width: 150px;
    height: 8vw;
  }
  aside {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    flex-direction: column;
    left: 35%;
    width: 30vw;
    justify-content: space-between;
  }
  #btn-roll {
    margin-bottom: 100px; //permet de réguler la hauteur de aside
    top: 50%;
    left: 115%;
  }
  #btn-hold {
    top: 130%;
    margin-top: 100px; // idem que ligne 121
  }
  button, a {
    font-size: 2.5vw; // joue sur la largeur : contraire que le mobile (en vh)
  }
  video {
    display: flex;
    visibility: hidden;
    width: 200px;
    height: 175px;
  }
}

@media screen and (min-width: 1000px) {
  #btn-roll {
    margin-bottom: 50px; //permet de réguler la hauteur de aside
  }
  #btn-hold {
    margin-top: 50px; // idem que ligne 121
  }
  video {
    width: 250px;
    height: 205px;
  }
}

@media screen and (min-width: 1300px) {
  #btn-roll {
    margin-bottom: 0px; //permet de réguler la hauteur de aside
  }
  #btn-hold {
    margin-top: 0px; // idem que ligne 121
  }
  video {
    width: 300px;
    height: 230px;
  }
}

@media screen and (min-width: 1600px) {
  video {
    width: 400px;
    height: 300px;
  }
}
